* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 20px;
}

html, body {
  color: #333;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
}

.right_10 {
  margin-right: 10px;
}
